*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white
}

body{
    height: 100vh;
    background-image: url("https://fondosmil.com/fondo/3903.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header-section{
    margin: 10px 0px 0px 30px;
}
.header-section img{
    width: 80px;
    height: 60px;
    
}


.main-icons-container{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.main-icons-container .icons{
    width: 40px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px 15px 0px 5px;
}

.main-icons-container .fb-icon{
    background-image:url("https://i.ibb.co/gtpc0LK/facebook.png");
}

.main-icons-container .tw-icon{
    background-image: url("https://i.ibb.co/kHnSBWm/twitter.png");
}

.main-icons-container .li-icon{
    background-image: url("https://i.ibb.co/THQkyKs/linkedin.png");
}

.main-icons-container .gt-icon{
    background-image: url("https://i.ibb.co/jT9t0d2/github.png");
}

.main-icons-container .ptz-icon{
    background-image: url("https://i.ibb.co/d7hwDZ6/platzi.png");
}

.titles-section{
    text-align: center;
}

.titles-section h1{
    margin:0px 0px 15px 0;
    font-size: 30px;
    font-weight: bold;
}

.talleres-sections{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    justify-items: center;
    margin: 10px 80px 20px 80px;
}

.talleres-sections .sections{
    background:linear-gradient(to bottom, rgb(75, 66, 94), rgb(235, 235, 219));
    border-radius: 45px;
    padding: 10px 20px;
    box-shadow: 5px 5px rgb(190, 190, 190);
    color:white;
    width: 400px;
}

.sections a{
    text-decoration: none;
    color: white;
}

.sections img{
    margin:calc(336px - 293px) 5.5%;
    width: 90%;
    height: 65%;
    
}