*{
    box-sizing: border-box;
}

.principal-body{
    background:linear-gradient(to top, rgb(61, 61, 61), rgb(255, 185, 56), white);
}

.principal-header .header-title{
    text-align: center;

}

.principal-header h1{
    color: red;
}

.principal-main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 275px;
    gap: 35px;
}


.principal-main .section-forms{
    width: 90%;
    height: 100%;
    background-color: rgb(104, 187, 104);
    border: 2px solid black;
    margin-left: 2rem;
}
